img{
  width:500px;
}
body{
  text-align:center;
  border:solid;
  padding:30px;
  background-image:linear-gradient(#F44336  , #D32F2F);
}
h1{
  text-shadow:2px 2px #0277BD;
}
p{
  font-size:25px;
}
.menu{
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}
.items{
    color: white;
    font-size: 25px;
    float: left;
    padding: 5px 9px;
}
.items:hover{
    background-color: orange;
}
.line{
    width: 100px;
    height: 6px;
    background-color: black;
    margin: 8px auto;
}
#name{
    font-family: 'Lobster',cursive;
}